footer{
  background-color: #212226 !important;
  padding:20px 30px;
}
footer p{
  text-align: center;
  color: #fff;
  font-size: 90%;
  line-height: 20px;
}
footer p span{
  color: #f4c613!important;

}
